{% extends 'WojciechMKramBundle:Default:base.html.twig' %}

{% block content -%}
    <h1>Week list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Fee</th>
                <th>Summary</th>
                <th>Shoppers</th>
                <th>Collectors</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                	<ul>
                		<li>{% if entity.start %}{{ entity.start|date('Y-m-d') }}{%else%} ? {% endif %}</li>
                		<li>{% if entity.end %}{{ entity.end|date('Y-m-d') }}{%else%} ? {% endif %}</li>
                	</ul>
                </td>
                <td>{{ entity.fee }}</td>
                <td>
                	<ul>
                		{% for sum in entity.summary %}
                			<li> {{ sum.user }}: <span class="summary {% if sum.amount < 0%}debt{%else%}paid{% endif %}">{{ sum.amount }}</span></li>
                		{% endfor %}
                	</ul>
                </td>
                <td>
                	<ul>
                		{% for user in entity.shoppers %}
                			<li> {{ user }}</li>
                		{% endfor %}
                	</ul>
                </td>
                <td>
                	<ul>
                		{% for user in entity.collectors %}
                			<li> {{ user }}</li>
                		{% endfor %}
                	</ul>
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('week_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('week_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
