{% extends 'WojciechMKramBundle:Default:base.html.twig' %}

{% block content -%}
    <h1>Debt list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>Week</th>
                <th>Amount</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</td>
                <td>
                	<ul>
                		<li>{% if entity.week.start %}{{ entity.week.start|date('Y-m-d') }}{%else%} ? {% endif %}</li>
                		<li>{% if entity.week.end %}{{ entity.week.end|date('Y-m-d') }}{%else%} ? {% endif %}</li>
                	</ul>
                </td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.dateCreated|date('Y-m-d H:i') }}</td>
                <td>
                <ul>
                    <li>
                    	{{ widgets.button("show", '', 'debt_show', { 'id': entity.id }) }}
                    </li>
                    <li>
                    	{{ widgets.button("edit", '', 'debt_edit', { 'id': entity.id }) }}
                    </li>
                    <li>
                    	{{ widgets.button_delete('', '', 'debt_delete', { 'id': entity.id })}}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('debt_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
