{% extends "::base.html.twig" %}
{% import 'WojciechMKramBundle:Default:widgets.html.twig' as widgets %}

{% block stylesheets %}
{# 		'bundles/wojciechmkram/css/*' #}
{# 		'@WojciechMKramBundle/Resources/public/css/*'#}
	{% stylesheets filter='cssrewrite'
		'bundles/wojciechmkram/css/*'
	%}
	        <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
	
{% block javascripts %}
	{% javascripts
	    '@WojciechMKramBundle/Resources/public/js/jquery.js'
	    '@WojciechMKramBundle/Resources/public/js/jquery-ui.js'
	    '@WojciechMKramBundle/Resources/public/js/utils.js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%  endblock %}

{% block title %}
	{% trans %}Kram{% endtrans %}
{% endblock %}

{% block body %}
	<div id="container">
		<header>
		{% block header %}
			<nav>
			{% block nav %}
				<ul class="nav">
					<li><a href={{ path("week") }}>{% trans %}Weeks{% endtrans %}</a></li>
					<li><a href={{ path("payment_entry") }}>{% trans %}Payments{% endtrans %}</a></li>
					<li><a href={{ path("debt") }}>{% trans %}Debts{% endtrans %}</a></li>
					<li><a href={{ path("user") }}>{% trans %}Users{% endtrans %}</a></li>
				</ul>
			{% endblock %}
			</nav>
		{% endblock %}
		</header>
		<section>
		{% block section %}
			{% block content %}
				Content placeholder
			{% endblock %}
		{% endblock %}
		</section>
		<footer>
			{% block footer %}
			Footer placeholder
			{% endblock %}
		</footer>
	</div>
{% endblock %}