{% extends "::base.html.twig" %}
{% import 'WojciechMKramBundle:Default:widgets.html.twig' as widgets %}

{% block stylesheets %}
{# 		'bundles/wojciechmkram/css/*' #}
{# 		'@WojciechMKramBundle/Resources/public/css/*'#}
	{% stylesheets 
		'@WojciechMKramBundle/Resources/public/css/*'
	%}
	        <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
	
{% block javascripts %}
	{% javascripts
	    '@WojciechMKramBundle/Resources/public/js/jquery.js'
	    '@WojciechMKramBundle/Resources/public/js/jquery-ui.js'
	    '@WojciechMKramBundle/Resources/public/js/utils.js'
	    '@WojciechMKramBundle/Resources/public/js/init.js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%  endblock %}

{% block title %}
	{% trans %}Kram{% endtrans %}
{% endblock %}

{% block body %}
	<div id="container">
		<header>
		{% block header %}
			<nav>
			{% block nav %}
				{% if app.user %}
					<ul class="nav">
						<li>{{ widgets.button_nav("Home", "", "dashboard", {})}}</li>
						<li>{{ widgets.button_nav("Weeks", "", "week", {})}}</li>
						<li>{{ widgets.button_nav("Payments", "", "payment", {})}}</li>
						<li>{{ widgets.button_nav("Debts", "", "debt", {})}}</li>
						<li>{{ widgets.button_nav("Expenses", "", "expense", {})}}</li>
						<li>{{ widgets.button_nav("Shopping list", "", "shoppinglist", {})}}</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>{{ widgets.button_nav("Users", "", "user", {})}}</li>
						{% endif %}
						<li>{{ widgets.button_nav("Change password", "dialog", "user_change_own_password", {})}}</li>
						<li>{{ widgets.button_nav("Logout", "", "logout", {})}}</li>
					</ul>
				{% endif %}
			{% endblock %}
			</nav>
		{% endblock %}
		</header>
		<div style='clear:both;'></div>
		<section>
		{% block section %}
			{% block content %}
				Content placeholder
			{% endblock %}
		{% endblock %}
		</section>
		<div id='layout_footer'></div>
	</div>
	<footer id="footer">
		{% block footer %}
			© 2014{% if "now"|date("Y") != "2014" %}-{{ "now"|date("Y") }}{% endif %} kram All Rights Reserved
		{% endblock %}
	</footer>
{% endblock %}