{% extends "::base.html.twig" %}
{% import 'WojciechMKramBundle:Default:widgets.html.twig' as widgets %}

{% block stylesheets %}
{# 		'bundles/wojciechmkram/css/*' #}
{# 		'@WojciechMKramBundle/Resources/public/css/*'#}
	{% stylesheets filter='cssrewrite'
		'bundles/wojciechmkram/css/*'
	%}
	        <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
	
{% block javascripts %}
	{% javascripts
	    '@WojciechMKramBundle/Resources/public/js/jquery.js'
	    '@WojciechMKramBundle/Resources/public/js/jquery-ui.js'
	    '@WojciechMKramBundle/Resources/public/js/utils.js'
	    '@WojciechMKramBundle/Resources/public/js/init.js'
	%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%  endblock %}

{% block title %}
	{% trans %}Kram{% endtrans %}
{% endblock %}

{% block body %}
	<div id="container">
		<header>
		{% block header %}
			<nav>
			{% block nav %}
				{% if app.user %}
					<ul class="nav">
						<li>{{ widgets.button_nav("Weeks", "", "week", {})}}</li>
						<li>{{ widgets.button_nav("Payments", "", "payment_entry", {})}}</li>
						<li>{{ widgets.button_nav("Debts", "", "debt", {})}}</li>
						<li>{{ widgets.button_nav("Expenses", "", "expense", {})}}</li>
						<li>{{ widgets.button_nav("Shopping list", "", "shoppinglist", {})}}</li>
						<li>{{ widgets.button_nav("Users", "", "user", {})}}</li>
						<li>{{ widgets.button_nav("Logout", "", "logout", {})}}</li>
					</ul>
				{% endif %}
			{% endblock %}
			</nav>
		{% endblock %}
		</header>
		<section>
		{% block section %}
			{% block content %}
				Content placeholder
			{% endblock %}
		{% endblock %}
		</section>
		<footer>
			{% block footer %}
			Footer placeholder
			{% endblock %}
		</footer>
	</div>
{% endblock %}