{% macro button(name, classes, url, urlargs) %}
	{% spaceless %}
	{% if url %}<a href="{{ path(url, urlargs) }}"{% else %}<button{% endif %}
		class="button {% if classes %}{{ classes }}{% endif %}">{{ name|trans }}
	{% if url %}</a>{% else %}</button>{% endif %}
	{% endspaceless %}
{% endmacro %}

{% macro button_confirm(name, classes, url, urlargs) %}
	{% import _self as widgets %}
	{{ widgets.button(name, "#{classes} confirm", url, urlargs) }}
{% endmacro %}

{% macro button_delete(name, classes, url, urlargs, intention) %}
	{% import _self as widgets %}
	{% spaceless %}
		<form class="inline" action="{{ path(url, urlargs) }}" method="POST">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token(intention) }}"/>
			{% if name %}
				{{ widgets.button_confirm(name, classes) }}
			{% else %}
				{{ widgets.button_confirm("delete", classes) }}
			{% endif %}
		</form>
	{% endspaceless %}
{% endmacro %}

{% macro button_ready_show(url, id) %}
	{% import _self as widgets %}
	{{ widgets.button("show", "dialog", url, {"id":id}) }}
{% endmacro %}

{% macro button_ready_edit(url, id) %}
	{% import _self as widgets %}
	{{ widgets.button("edit", "dialog", url, {"id":id}) }}
{% endmacro %}

{% macro button_ready_delete(url, id, intention) %}
	{% import _self as widgets %}
	{{ widgets.button_delete("", "", url, {"id":id}, intention) }}
{% endmacro %}

{% macro button_ready_new(url) %}
	{% import _self as widgets %}
	{{ widgets.button("New entry", "dialog", url, {}) }}
{% endmacro %}

{% macro button_ready_list(url) %}
	{% import _self as widgets %}
	{{ widgets.button("back to the list", "", url, {}) }}
{% endmacro %}

{% macro button_nav(name, classes, url, params) %}
	{% import _self as widgets %}
	{{ widgets.button(name, "#{classes} nav", url, params) }}
{% endmacro %}