{% extends 'WojciechMKramBundle:Default:base.html.twig' %}

{% block content -%}
    <h1>Payment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Week{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Created{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</td>
                <td>
                	<ul>
                		{% if entity.week %}
	                		<li>{% if entity.week.start %}{{ entity.week.start|date('Y-m-d') }}{%else%} ? {% endif %}</li>
	                		<li>{% if entity.week.end %}{{ entity.week.end|date('Y-m-d') }}{%else%} ? {% endif %}</li>
                		{% endif %}
                	</ul>
                </td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.dateCreated|date('Y-m-d H:i') }}</td>
                <td>
                <ul class="actions">
                    <li>
                    	{{ widgets.button_ready_show('payment_entry_show', { 'id': entity.id }) }}
                    </li>
                    <li>
                    	{{ widgets.button_ready_edit('payment_entry_edit', { 'id': entity.id }) }}
                    </li>
                    <li>
                    	{{ widgets.button_ready_delete('payment_entry_delete', { 'id': entity.id }, delete_intention)}}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="actions">
             <li>
             	{{ widgets.button_ready_new('payment_entry')}}
             </li>
    </ul>
    {% endblock %}
